@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Pacifico&family=Quicksand&family=Qwitcher+Grypen&family=Sedgwick+Ave+Display&family=The+Nautigal:wght@700&display=swap');

.prelogin__navbar__desktop {
    height: 60px;
    width: 100%;
    // background-color: black;
    position: fixed;
    top: 0;
    // background-color: rgba(233, 228, 228, 0.4);
    /* Set the desired background color with some transparency */
    backdrop-filter: blur(10px);
    //   padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    


    .navbar__logo {
        opacity: 1;
        font-size: 1.7rem;
        font-weight: 600;
        margin-left: 40px;

        // font-family: "Fjord One", serif;

        span {
            font-family: "The Nautigal", cursive;

        }
    }

    .navbar__options {
        display: flex;
        column-gap: 40px;
        margin-right: 40px;
    }
}