@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

//for the signup or login page nav header text
.text_style_1{
    font-size: 1.8rem;
    
    margin: 0;
    font-weight: 500;
    color: rgb(79, 79, 79);
    
}

// for the navigation bar links or text buttons
.text_style_2{
    font-weight: 400;
    cursor: pointer;
    // border: none;
    // border-bottom: 2px solid #fff;
    
    
    &:hover{
        color: #fff;
        
        border-bottom: 2px solid #fff;
    }
}
